{% extends 'base.html.twig' %}

{% block title %}US Politics News - Welcome page{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}" />
{% endblock %}

{% block javascripts %}
<script src="js/data_entry_form.js"></script>
{% endblock %}

{% block heading %}<img src="{{ asset('img/heart-usa.png') }}" class="top-logo"/>US Politics News - Welcome page{% endblock %}

{% block mainContent %}
<div class="row">
	<div class="col-md-6">

		<div class="half-image-block">
			<img class="image-half-size" src="{{ asset('img/US_Capitol_Building_1.svg') }}"/>
		</div>

		<div class="half-image-block">
			<img class="image-half-size" src="{{ asset('img/Abraham_Lincoln.svg') }}"/>
		</div>
	</div>

	<div class="col-md-1">&nbsp;</div>

	<div class="col-md-5">
		<p>
		This is the place to find news about US Politics.
		</p>

		<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, tortor id lacinia lacinia, massa quam sagittis felis, a blandit neque quam at lorem. Nullam lorem magna, ultrices quis pellentesque et, rutrum gravida tortor. Maecenas pulvinar, metus ultricies sagittis fringilla, ex eros scelerisque metus, ac ornare nunc nisi ac ex. Duis placerat mauris non purus rhoncus, a consectetur tortor elementum. Etiam blandit purus felis. Sed vitae felis enim. Cras vitae eros ac augue mollis maximus eu a dolor. Pellentesque et placerat sapien. Fusce venenatis rutrum dui ac vestibulum. Etiam ornare aliquet metus et vestibulum. Cras vitae ultricies mi. Quisque porttitor mollis tellus a mattis. Fusce pellentesque ultricies efficitur. Nullam viverra hendrerit lacinia. Sed quis turpis ut nunc posuere ornare. Quisque feugiat, leo nec feugiat viverra, ante orci bibendum odio, vitae lacinia erat elit ac urna.
</p>
<p>
Suspendisse iaculis lacus id ipsum dictum pharetra. Nulla fringilla, ipsum eget malesuada viverra, metus tellus tincidunt lectus, in consectetur ipsum arcu vitae nibh. Nulla facilisi. Aliquam a odio quis sem posuere elementum eu eu ligula. Sed faucibus felis sem, ut egestas lacus pharetra at. Donec faucibus nec elit vulputate tempor. In fermentum mi quis venenatis finibus.
</p>
<p>
Maecenas tempor porta justo eu imperdiet. Integer est ligula, gravida et tortor sed, euismod mollis augue. Nulla volutpat vestibulum metus, feugiat interdum tortor gravida vulputate. Quisque id quam sed mi sollicitudin consectetur vehicula ac purus. Vivamus nulla libero, laoreet vel feugiat at, blandit nec odio. Sed ac ipsum eu erat malesuada condimentum. Phasellus at facilisis orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed non fermentum tortor. Nam at metus at risus mattis fringilla. Suspendisse tortor est, vulputate a metus ut, scelerisque feugiat quam. Fusce luctus est tortor, et vulputate arcu tempor vel.
</p>
<p>
Mauris in leo ultrices, malesuada magna quis, tincidunt nunc. Proin dignissim ante fringilla placerat consectetur. Proin vitae viverra turpis. Duis rutrum at lacus id molestie. Morbi feugiat magna sit amet feugiat gravida. Ut posuere tellus dapibus, fermentum libero eget, semper massa. Duis porttitor orci at aliquam rhoncus. Pellentesque at porttitor est. Aenean pulvinar quis ex eget molestie. Aenean efficitur, mi eu facilisis ultrices, est massa porta purus, non viverra mi lorem sit amet nibh. Suspendisse fringilla luctus elit, ut laoreet ligula consequat euismod. Nulla at hendrerit lacus. Vestibulum tempor nisl at arcu pharetra, nec imperdiet metus consequat. Etiam sit amet libero dolor.
</p>
<p>
Suspendisse potenti. Quisque neque urna, rutrum quis erat ut, mattis commodo odio. Suspendisse molestie tortor vitae ornare eleifend. Cras sagittis viverra sapien quis ullamcorper. Nunc fermentum nunc est, quis rhoncus libero scelerisque eu. Pellentesque pretium pretium augue, eget venenatis diam condimentum a. Curabitur ante velit, ultricies eu massa eget, luctus consequat lacus. Cras consequat, arcu nec vehicula ornare, quam dui mattis purus, et mattis sem mi rhoncus lacus. Pellentesque laoreet consectetur ex vitae pharetra. Phasellus id purus ac nunc faucibus bibendum at a magna. Nam auctor sem ipsum, a mattis leo laoreet vel. Pellentesque augue dui, ullamcorper in consequat id, malesuada sit amet augue. Phasellus volutpat nulla felis.
</p>
	</div>
</div>

		</div>
	</body>
{% endblock %}

