{% extends 'base.html.twig' %}

{% block title %}Survey Form{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/survey_form.css') }}" />
{% endblock %}

{% block javascripts %}
<script src="js/survey_form.js"></script>
{% endblock %}

{% block heading %}Survey Form{% endblock %}

{% block mainContent %}
	<form>

		<div class="form-group">
			<div class="row label-row" >
				<div class="col-md-12">
					<label>1. How would you rate Donald Trump as President ? (5 being Excellent, 1 being Poor):</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">			
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" id="q01-1" value="1">
						<label class="form-check-label" for="q01-1">&nbsp;1</label>
						&nbsp;
					</span>
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" value="2" id="q01-2">
						<label class="form-check-label" for="q01-2">&nbsp;2</label>
						&nbsp;
					</span>
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" value="3" id="q01-3">
						<label class="form-check-label" for="q01-3">&nbsp;3</label>
						&nbsp;
					</span>
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" value="4" id="q01-4">
						<label class="form-check-label" for="q01-4">&nbsp;4</label>
						&nbsp;
					</span>
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" value="5" id="q01-5">
						<label class="form-check-label" for="q01-5">&nbsp;5</label>
					</span>
					
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row label-row" >
				<div class="col-md-12">
					<label>2. How would you rate Joe Biden as President ? (5 being Excellent, 1 being Poor):</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">			
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" id="q02-1" value="1">
						<label class="form-check-label" for="q02-1">&nbsp;1</label>
						&nbsp;
					</span>
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" value="2" id="q02-2">
						<label class="form-check-label" for="q02-2">&nbsp;2</label>
						&nbsp;
					</span>
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" value="3" id="q02-3">
						<label class="form-check-label" for="q02-3">&nbsp;3</label>
						&nbsp;
					</span>
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" value="4" id="q02-4">
						<label class="form-check-label" for="q02-4">&nbsp;4</label>
						&nbsp;
					</span>
					<span class="form-check">
						<input class="form-check-input" type="radio" name="q01" value="5" id="q02-5">
						<label class="form-check-label" for="q02-5">&nbsp;5</label>
					</span>
					
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row label-row" >
				<div class="col-md-12">
					<label>3. Why is US politics so exciting?</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">	
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="1" id="q03-1">
					  <label class="form-check-label" for="q03-1">
					    &nbsp;Donald Trump is always honest
					  </label>
					</div>	

					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="2" id="q03-2">
					  <label class="form-check-label" for="q03-2">
					    &nbsp;Joe Biden looks so young & attractive
					  </label>
					</div>	

					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="3" id="q03-3">
					  <label class="form-check-label" for="q03-3">
					    &nbsp;I just can't enough stripey flags
					  </label>
					</div>

					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="4" id="q03-4">
					  <label class="form-check-label" for="q03-4">
					    &nbsp;I love circus animals
					  </label>
					</div>		

				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row label-row" >
				<div class="col-md-12">
					<label>4. I get most of my political news...</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">	
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="1" id="q04-1">
					  <label class="form-check-label" for="q04-1">
					    &nbsp;Online, e.g websites like Google News
					  </label>
					</div>	

					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="2" id="q04-2">
					  <label class="form-check-label" for="q04-2">
					    &nbsp;On network TV, e.g. CNN, Fox News
					  </label>
					</div>	


					<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="3" id="q04-3">
					  <label class="form-check-label" for="q04-3">
					    &nbsp;Other
					  </label>
					</div>

					<div class="extra-question hidden" id="eq-04-3">
						<div class="row">
							<div class="col-md-12">
								<label for="q04-3-other">Please describe:</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<textarea name="q04-3-other" id="q04-3-other">
									
								</textarea>
							</div>
						</div>

						</div>
					</div>		

				</div>
			</div>
		</div>

	</form>
{% endblock %}